* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    text-align: center;
    font-size: 2rem;
    background-color: black;
    color: white;
    margin-bottom: 5rem ;
}

#informacoes {
    text-align: justify;
    font-size: 1.4rem;
    color: black;
    padding: 1rem;
    margin-left: 500px;
}
input[type="text"], input[type="email"], input[type="password"], input[type="date"]{
    margin: 1rem;
    border-radius: 5px;
    border-color: black
}
input::placeholder {
    color: black;
}
#cadastrar {
    margin-top: 170px ;
    font-size: 2rem;
    text-align: center;

}
