* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    text-align: center;
    font-size: 2rem;
    background-color: black;
    color: white;
}
 
#Informações {
    padding-top: 100px ;
    text-align: center;
    font-size: 1.9rem;
    color: black;
}
input[type="text"] {
    border-radius: 5px;
    border-color: black;
    width: 25%;
}

input[type="password"] {
    border-radius: 5px;
    border-color: black;
    width: 25%;
    margin-bottom: 1.5rem;
}
a {
    border: 2px solid black;
}

.criar {
    margin-top: 200px;
}

#Ir {
    
}